*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} 
.btn
{
  width: 300px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #A2D9CE;
  transition:background-color 2s ;
  background-color: #1c5469;
}
.btn:hover
{
  background-color: #39414a;
  width: 200px;

}
.btn.sm
{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: #39414a;
  border: 2px solid #A2D9CE;
  transition: background-color 2s;
}
.btn.sm:hover
{
  background-color: #A2D9CE;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh ;
  background: #f6f6f6;
}
.box
{
width: 300px;
border-bottom: 20px solid #03a9f4;
border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box h2
{
  color: #39414a;
  background: #2a8db363;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box ul
{
  position: relative;
  background: #39414a;
}
.box ul li
{
  list-style: none;
  padding: 5px;
  width: 100%;
  background: #1c5469;
  box-shadow: o 5px 25px rgba(0,0,0,.1);
  transition: transform 0.5s;
}
.box ul:hover li{
  opacity:0.5 ;
}
.box ul li:hover
{
  transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
color: #fff;
opacity:2 ;
}
.box ul li span
{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-20px);
}
.box ul li:hover span
{
  background: #fff;
  color: #25bcff;
}
responsive
{
  width: 100%;
}